@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tilt Warp", sans-serif;
  /* overflow-y: hidden; */
}

@media (max-width: 540px) {
  .app {
    width: 100vw;
  }
}
